/* 公共样式 */
/*Clear effect of user agent stylesheet*/
html{color:#000;background:#FFF;}   
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,   
fieldset,input,textarea,p,blockquote,th,td {   
margin:0;   
padding:0;   
} 

header {
    background-color: black; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding */
    padding-left: 3%;
    text-align: left; /* Center-align text */
    font-size: 37px;
    width: 100%;
}
header a{
    color: white;
    text-decoration: none;
}
header img{
  width: 80px;
  height: 80px;
}
header span{
  font-family: "Times New Roman";
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #434343;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #1DB954;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #282828;
    color: #FFFFFF;
}

button[type="submit"], .back-to-login {
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

button[type="submit"]:hover, .back-to-login:hover {
    background-color: #1aa34a;
}