body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    width: 750px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.banner {
    background-image: url('https://cdn.discordapp.com/attachments/1193982715557593109/1230559595341287504/0419.jpg?ex=6633c2ee&is=66214dee&hm=c4012a060915caa68d0801bfd93614cf38216b65a958a98ec601a32d37733388');
    background-size: cover;
    background-position: center;
    height: 150px;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 20px;
}

.userpfp img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.username {
    flex-grow: 1;
    font-size: 24px;
    font-weight: 600;
}

.button button {
    padding: 10px 20px;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button button:hover {
    background-color: #1aa34a;
}

.info {
    padding: 20px;
}

.info div {
    margin-bottom: 10px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.popup-content {
    background-color: #282828;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.popup-content h2,
.popup-content h3 {
    color: #1DB954;
}

.popup-content input[type="text"],
.popup-content input[type="password"],
.popup-content input[type="email"],
.popup-content input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #383838;
    color: #FFFFFF;
}

.popup-content input[type="submit"] {
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-content input[type="submit"]:hover {
    background-color: #1aa34a;
}

.back button {
    background-color: transparent;
    border: none;
    color: #1DB954;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
}

.back button:hover {
    color: #1aa34a;
}

.banner {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.plan-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.plan-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.plan-type {
    font-size: 24px;
    margin-bottom: 10px;
}

.plan-box button {
    padding: 10px 20px;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.plan-box button:hover {
    background-color: #1ed760;
}

.premium-button button {
    padding: 10px 20px;
    background: linear-gradient(135deg, #735DFF, #BC00FF);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.premium-button button:hover {
    background: linear-gradient(135deg, #5A47CC, #9900CC);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

td {
    background-color: #1c1c1c;
}